<?xml version="1.0" encoding="UTF-8"?>
<CONFIG>
  <Form_AVR_Fuse>
    <FormPos Left="751" Top="118" Width="970" Height="902"/>
  </Form_AVR_Fuse>
  <Form_AVR_Fuse_Burn>
    <FormPos Left="542" Top="428" Width="541" Height="458"/>
  </Form_AVR_Fuse_Burn>
  <Run_Command_Form>
    <FormPos Left="1826" Top="288" Width="685" Height="841"/>
  </Run_Command_Form>
</CONFIG>
