<?xml version="1.0" encoding="UTF-8"?>
<CONFIG test="test/test">
  <Form1>
    <Save>
      <ComboBox Count="4">
        <Item0 value="hhhhhhhhh"/>
        <Item1 value="bnbbbbbb"/>
        <Item2 value="/n4800/DATEN/Programmierung/Lazarus/Beispiele/Edit_und_Label_Dynamsch/project1.res"/>
        <Item3 value="/n4800/DATEN/Programmierung/Lazarus/Beispiele/Edit_und_Label_Dynamsch/unit1.pas"/>
      </ComboBox>
    </Save>
    <Modif>
      <ComboBox Count="2">
        <Item0 value="test"/>
        <Item1 value="gh"/>
      </ComboBox>
    </Modif>
    <SaveFile>
      <ComboBox Count="2">
        <Item0 value="ghgfhgfhgfhfg"/>
        <Item1 value=""/>
      </ComboBox>
    </SaveFile>
    <Load Count="8">
      <Item0 value="d,"/>
      <Item1 value="/n4800/DATEN/Programmierung/Lazarus/Tutorials/Embedded/test/FileLoadComboBox/unit1.pas"/>
      <Item2 value=""/>
      <Item3 value="a,"/>
      <Item4 value="c,"/>
      <Item5 value="a,"/>
      <Item6 value="c,"/>
      <Item7 value="d,"/>
    </Load>
  </Form1>
</CONFIG>
