<?xml version="1.0" encoding="UTF-8"?>
<CONFIG>
  <Form1>
    <AVRDudeConfig Count="7">
      <Item0 value="/home/tux/fpcupdeluxe/fpcsrc"/>
      <Item1 value="/home/tux/Musik"/>
      <Item2 value="/home/tux/fpc.src/fpc"/>
      <Item3 value="/home/tux/Bilder"/>
      <Item4 value="/home/tux/fpcupdeluxe/fpcbootstrap"/>
      <Item5 value="/home/tux/fpc.src"/>
      <Item6 value=""/>
    </AVRDudeConfig>
  </Form1>
</CONFIG>
