<?xml version="1.0" encoding="UTF-8"?>
<CONFIG test="sdfdsfsdafdsfasdf">
  <Form1>
    <FormPos Left="322" Top="190" Width="1900" Height="1109"/>
    <FPC_Source_Path Count="4">
      <Item0 value="/home/tux/fpcupdeluxe_pico/fpcsrc"/>
      <Item1 value="/home/tux/fpcupdeluxe/fpcsrc"/>
      <Item2 value="/home/tux/fpc.src/fpc"/>
      <Item3 value="/home/tux/fpcupdeluxe_android/fpcsrc"/>
    </FPC_Source_Path>
  </Form1>
</CONFIG>
