<?xml version="1.0" encoding="UTF-8"?>
<CONFIG>
  <Form_AVR_Fuse>
    <FormPos Left="803" Top="69" Width="961" Height="800"/>
  </Form_AVR_Fuse>
  <Form_AVR_Fuse_Burn>
    <FormPos Left="542" Top="428" Width="541" Height="458"/>
  </Form_AVR_Fuse_Burn>
  <Run_Command_Form>
    <FormPos Left="1443" Top="389" Width="1127" Height="841"/>
  </Run_Command_Form>
</CONFIG>
